/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 9.5vh;
  width: var(--page-width, clamp(320px, 100vw, 1440px));
  padding-top: 9.5vh;
  color: var(--main-color, #000);
  font-family: var(--basic-family, "Inter-Variable"), sans-serif;
  font-size: var(--basic-size, 18px);
  background-image: var(
    --background-pattern,
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%)
  );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--basic-wght, 400);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--header-width, clamp(320px, 48.3vw, 696px));
  outline: 3px solid #000;
  font-family: var(--accent-family, "PressStart2P"), fantasy;
  min-inline-size: 345px;
  text-transform: uppercase;
  background-color: #fff;
}

.header__logo {
  padding-top: 11.3vh;
  font-size: clamp(49px, 5vw, 65px);
  line-height: 1.1;
}

.header__logo-subtitle {
  padding: 1.2vh 0 11vh 0;
  font-size: clamp(14px, 3.5vw, 23px);
  line-height: 1.4;
  white-space: nowrap;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.main-container {
  display: grid;
  gap: 4.8vh;
  width: var(--card-width, clamp(320px, 48.34vw, 696px));
  padding-bottom: 103px;
}

.card {
  outline: 3px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4px 0 7px 10px;
}

.title {
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-wght, 700);
}

.figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: 3px solid currentColor;
  aspect-ratio: 1 / 1;
}

.figure__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: filter 0.3s ease;
}

.filter1-sepia {
  filter: sepia(100%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-mix {
  filter: sepia(80%) blur(5px);
}

.figure__label {
  position: absolute;
  top: 26px;
  right: 25px;
  opacity: 50%;
  color: currentColor;
  font-family: var(--accent-family, "PressStart2P"), fantasy;
  font-size: 14px;
  text-shadow: -1px -1px 0 var(--stroke-color, #fff),
    1px -1px 0 var(--stroke-color, #fff), -1px 1px 0 var(--stroke-color, #fff),
    1px 1px 0 var(--stroke-color, #fff);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color, #fff)) {
  .stroked-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color, #fff);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 28px 25px 25px 25px;
  line-height: 21.5px;
}

.like-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button {
  height: 38px;
  width: 38px;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0;
}

.card__like-button {
  align-self: end;
  min-inline-size: 130px;
  min-block-size: 38px;
  border: none;
}

.card__button {
  position: relative;
  outline: 2px solid currentColor;
  overflow: hidden;
  padding: 6px 23px;
}

.card__button:focus {
  border: none;
}

.card__button .button__text,
.card__button .save-footer {
  position: relative;
  z-index: 2;
}

.button__text {
  color: var(--stroke-color, #fff);
  font-family: var(--accent-family, "PressStart2P"), fantasy;
  font-size: 14px;
  text-align: center;
  transition: color 0.3s ease;
  mix-blend-mode: difference;
}

.save {
  display: flex;
  justify-content: center;
}

.save-button {
  min-inline-size: 335px;
  min-block-size: 51px;
  padding: 0;
}

.save__button-content {
  padding: 13px 20px;
}
.floppy {
  width: 21px;
  height: 21px;
}

.save-footer {
  transition: color 0.3s ease;
  mix-blend-mode: difference;
}

dialog {
  gap: 30px;
  min-inline-size: 353px;
  border: none;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dialog[open] {
  opacity: 1;
  transform: scale(1);
}

dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.modal-content .floppy {
  min-width: 40px;
  height: 39px;
}

.modal-text {
  font-family: var(--accent-family, "PressStart2P"), fantasy;

  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.ok-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 293px;
  height: 38px;
  border: 1px solid #000;
  padding: 9px 17px;
  text-transform: uppercase;
}

@media (width <= 380px) {
  .page {
    gap: 14.2vh;
    width: 100%;
    padding-top: 15.5vh;
  }

  .header-container {
    width: 100%;
  }

  .header__logo {
    padding-top: 17vh;
    line-height: 65px;
  }

  .header__logo-subtitle {
    padding-bottom: 18vh;
  }

  .main-container {
    width: 100%;
    padding-top: 10px;
    gap: 8vh;
    padding-bottom: 100px;
  }

  .card__title {
    padding-right: 7px;
  }

  .card__content {
    padding: 21px 28px 25px 27px;
  }

  .figure__label {
    right: 13px;
    top: 21px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .save-button {
    min-inline-size: 306px;
    min-block-size: 80px;
  }

  .save__button-content {
    display: flex;
    flex-direction: column;
  }

  dialog {
    width: 341px;
    padding: 30px 40px;
  }
  .ok-button {
    width: 257px;
  }
}
